/* Container styling */
.container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/* Header styling */
.header {
  margin-bottom: 2rem;
}

.item_header {
  /* font-size: 2rem; */
  font-weight: 600;
}

/* Activities list styling */
.activities {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.activity {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  gap: 10px;
}

.date_container {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  /* max-width: 100px; */
}

.details_container {
  /* padding: ; */
  /* margin-left: 3px; */
}
.day {
  font-size: 10px !important;
  line-height: 1;
}

.number {
  font-size: 5.6rem !important;
  line-height: 1;
  font-weight: 700;
  color: #d8b300;
}

.date {
  font-size: 10px !important;
}

/* Responsive styling */
@media (min-width: 768px) {
  .container {
    padding: 4rem;
  }
  .activities {
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin: 0 auto; */
    align-items: baseline;
    margin-left: 8rem;
  }
  .activity {
    /* flex: 1 1 45%; */
    margin-bottom: 1.5rem;
    /* align-self: center; */
    /* justify-content: center; */
    gap: 1rem;
  }

  .description {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 4rem 2%;
  }

  .number {
    font-size: 3.6rem !important;
  }

  /* .item_header {
    font-size: 1.3rem;
  } */

  .date {
    font-size: 8px !important;
  }
}
