@media (max-width:768px ) {
    .sidebar{
        width: 40%;
    
    }
}


.sidebar{
    z-index: 999999;
}


@media (max-width:820px ) {
    .sidebar{
        width: 40%;
    
    }
}


.sidebar{
    z-index: 999999;
}
